html {
	background-color: #777;
}

header {
	background-color: #ebebeb;
	text-align: center;
	font-family: 'Arial','Helvetica Neue', Helvetica, sans-serif;
	font-size: 18px;
	color: gray;
	margin: 0.5%;
	padding: 20px;
}

nav {
	background-color: #ebebeb;
	text-align: center;
	font-family: 'Arial','Helvetica Neue', Helvetica, sans-serif;
	font-size: 18px;
	color: gray;
	margin: 0.5%;
	padding: 20px;
}

body {
}

section {
	float: left;
	width: 100%;
	margin: 0.5%;
	overflow: auto;
}

#section {
	background-color: #ebebeb;
	text-align: center;
	font-family: 'Arial','Helvetica Neue', Helvetica, sans-serif;
	font-size: 18px;
	color: gray;
	width: 50%;
	padding: 20px;
}
#article {
	background-color: #777;
	text-align: center;
	font-family: 'Arial','Helvetica Neue', Helvetica, sans-serif;
	font-size: 18px;
	color: #ebebeb;
	border: solid;
	padding: 20px;
}

#h1 {
	background-color: #ebebeb;
	text-align: center;
	font-family: 'Arial','Helvetica Neue', Helvetica, sans-serif;
	font-size: 18px;
	color: gray;
	margin: 1%;
	padding: 1px;
}

#p {
	background-color: #ebebeb;
	text-align: center;
	font-family: 'Arial','Helvetica Neue', Helvetica, sans-serif;
	font-size: 18px;
	color: gray;
	margin: 1%;
	padding: 1px;
}

aside {
	background-color: #ebebeb;
	text-align: center;
	font-family: 'Arial','Helvetica Neue', Helvetica, sans-serif;
	font-size: 18px;
	color: gray;
	float: left;
	width: 30%;
	height: 150px;
	padding: 50px;

}

footer {
	background-color: #ebebeb;
	text-align: center;
	font-family: 'Arial','Helvetica Neue', Helvetica, sans-serif;
	font-size: 18px;
	color: gray;
	clear: both;
	padding: 20px;
}